<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mercedes Benz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D46CBD461F422D810029DA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46CBD5A1F422D810029DA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46CBD651F422D810029DA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
